<div *ngIf="chartList.length>0" class="row">
    <div *ngFor="let chartObj of chartList" class="col-md-4">
        <nb-card style="height: 300px;">
            <nb-card-header style="display: flex; align-items: baseline;">
                {{chartObj.title}}
            </nb-card-header>
            <nb-card-body style="display:flex; justify-content: center;">
                <chart type="pie" [data]="chartObj.data" [options]="chartObj.options"></chart>
            </nb-card-body>
        </nb-card>
    </div>
</div>