<button nbButton status="primary" (click)="export();" [size]="btnSize" disabled="{{!data || data.length==0}}">
    <span class="d-none d-sm-block" *ngIf="!iconOnly">Export</span>
    <nb-icon icon="download-outline" class="no-margin-sm"></nb-icon>
</button>