<nb-card style="flex:1 1 auto; height: 300px;">
    <nb-card-header>
        <h6>New Connection</h6>
    </nb-card-header>
    <nb-card-body style="display: flex; flex-direction: column; justify-content: space-around; align-items: center;">
        <input type="text" nbInput [(ngModel)]="connectionName" placeholder="Connection Name" class="w-100">
        <nb-select placeholder="Select Org" [(selected)]="selectedOrg" class="w-100">
            <nb-option value="Production">Production</nb-option>
            <nb-option value="Sandbox">Sandbox</nb-option>
        </nb-select>
        <div style="display: flex; justify-content: space-around;">
            <button nbButton status="basic" (click)="cancel()" class="mx-3" [size]="'small'"><span>Cancel</span>
                <nb-icon icon="close-outline"></nb-icon>
            </button>
            <button nbButton status="primary" (click)="authorize()" class="mx-3" [size]="'small'"><span>Authorize</span>
                <nb-icon icon="person-done-outline"></nb-icon>
            </button>
        </div>
    </nb-card-body>
</nb-card>