.list-selected {
  background-color: #f5ddd4;
  font-weight: bold;
}

/* #region Custom Scrollbar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px #f7f9fc;
  border-radius: 5px !important;
  background-color: #f7f9fc;
  border-top: 1px solid #ddd;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f7f9fc;
  border-top: 1px solid #ddd;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px !important;
  -webkit-box-shadow: inset 0 0 2px #e4e9f2;
  background-color: #e4e9f2;
}
/* #endregion Custom Scrollbar */

@media screen and (max-width: 576px) {
  .no-margin-sm {
    margin-left: 0 !important;
  }

  .header {
    display: block !important;
    justify-content: center !important;
    padding: 0.75rem 0.5rem 0 0.75rem !important;
  }
  .header-content {
    margin-bottom: 0.25rem !important;
  }

  table {
    table-layout: fixed;
  }
}

td,
th {
  font-size: 13px;
}

th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td {
  overflow-wrap: anywhere;
}

.header {
  display: flex;
  justify-content: space-between;
  // align-items: baseline;
  flex-wrap: wrap;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.header-content label {
  font-size: 13px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 13px !important;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 13px !important;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 13px !important;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 13px !important;
}
