<div class="row m-0">
    <div class="col-sm-5 col-md-4 mb-2"
        style="display:flex; flex-direction: column; flex:4 1 auto; height: 600px; border-right: 1px solid #eee;">
        <div class="mt-3 header">
            <nb-form-field class="header-content">
                <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
                <input type="text" nbInput [(ngModel)]="mdSearchText" placeholder="Search Metadata"
                    [fieldSize]="'small'" class="w-100 mw-100">
                <!-- <nb-icon nbPrefix icon="close-outline" pack="eva" *ngIf="mdSearchText && mdSearchText.length!=0"
                    style="position: absolute;left: 200px;" (click)="mdSearchText=''">
                </nb-icon> -->
            </nb-form-field>
            <div class="header-content">
                <label class="mt-1 mx-2">{{(mdTypeList | filter:mdSearchText).length}} row(s)</label>
                <ngx-export [fileName]="'Metadata List'" [data]="(mdTypeList | filter:mdSearchText)"
                    [exportColumns]="metadataExportColumns" [btnSize]="'small'" *ngIf="!isPackage"></ngx-export>
            </div>
        </div>
        <div class="mb-0 mt-1" style="height: 497px; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;">
            <cdk-virtual-scroll-viewport [itemSize]="55" minBufferPx="400" maxBufferPx="600" style="height: inherit;">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Metadata</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *cdkVirtualFor="let item of mdTypeList | filter:mdSearchText;let i=index"
                            [ngClass]="{'list-selected': item.isClicked}" (click)="mdTypeClick(item)">
                            <td *ngIf="isPackage">
                                <nb-checkbox (checkedChange)="mdTypeSelect(item)" [checked]="item.selected"
                                    indeterminate="{{item.indeterminate}}">
                                    {{ item.name }}
                                </nb-checkbox>
                            </td>
                            <td *ngIf="!isPackage">
                                {{ item.name }}
                            </td>
                        </tr>
                        <tr *ngIf="mdTypeList && mdTypeList.length==0" class="text-center">
                            <td colspan="4">
                                No Metadata Exist
                            </td>
                        </tr>
                    </tbody>
                </table>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
    <div class="col-sm-7 col-md-8 mb-2" style="display:flex; flex-direction: column; flex:4 1 auto; height: 600px;">
        <div class="mt-3 header">
            <nb-form-field class="header-content">
                <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
                <input type="text" nbInput [(ngModel)]="compSearchText" placeholder="Search Components"
                    [fieldSize]="'small'" class="w-100 mw-100">
                <!-- <nb-icon nbPrefix icon="close-outline" pack="eva" *ngIf="compSearchText && compSearchText.length!=0"
                    style="position: absolute;left: 200px;" (click)="compSearchText=''">
                </nb-icon> -->
            </nb-form-field>
            <div class="header-content">
                <label class="mt-1 mx-2">{{(componentList | filter:compSearchText).length}}
                    row(s)</label>
                <ngx-export [fileName]="'Component List'" [data]="(componentList | filter:compSearchText)"
                    [exportColumns]="componentsExportColumns" [btnSize]="'small'" *ngIf="!isPackage"></ngx-export>
            </div>
        </div>
        <div class="mb-0 mt-1" style="height: 497px; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;">
            <cdk-virtual-scroll-viewport [itemSize]="55" minBufferPx="400" maxBufferPx="600" style="height: inherit;">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr>
                            <th scope="col" *ngIf="isPackage"></th>
                            <th scope="col">Full Name</th>
                            <th scope="col">Created By</th>
                            <th scope="col">Lst Modified Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *cdkVirtualFor="let comp of componentList | filter:compSearchText;">
                            <td class="text-center" *ngIf="isPackage">
                                <nb-checkbox (checkedChange)="compSelect(comp);" [checked]="comp.selected">
                                </nb-checkbox>
                            </td>
                            <td>{{comp.fullName}}</td>
                            <td>{{comp.createdByName}}</td>
                            <td>{{comp.lastModifiedDate | date:'short'}}</td>
                        </tr>
                        <tr *ngIf="componentList && componentList.length==0" class="text-center">
                            <td colspan="4">
                                No Components Exist
                            </td>
                        </tr>
                    </tbody>
                </table>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>