<ngx-org-usage [limitsData]="limitsList"></ngx-org-usage>

<div class="row">
    <div class="col-md-6">
        <ngx-history [data]="auditHistoryList" [chartTitle]="auditHistoryChartTitle"
            [chartTypeList]="auditHistoryChartTypes" [groupByList]="auditHistoryGroupBy"  [defaultChart]="'Bar'" [exportColumns]="auditHistoryExportColumns">
        </ngx-history>
    </div>
    <div class="col-md-6">
        <ngx-history [data]="loginHistoryList" [chartTitle]="loginHistoryChartTitle"
            [chartTypeList]="loginHistoryChartTypes" [groupByList]="loginHistoryGroupBy" [defaultChart]="'Column'" [exportColumns]="loginHistoryExportColumns">
        </ngx-history>
    </div>
</div>