<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"><b>Skebot</b></a>
  </div>
</div>
<div class="header-container">
  <nb-actions size="small">
    <nb-action *ngIf="connList.length>0">
      <button nbButton [nbContextMenu]="connList" nbContextMenuTag="connection-menu" nbContextMenuTrigger="click"
        size="small">
        <span class="d-none d-md-block">{{selectedOrgName}}</span>
        <nb-icon icon="swap-outline" class="no-margin-sm"></nb-icon>
      </button>
    </nb-action>
    <nb-action>
      <button nbButton size="small" (click)="loadOrgSpecificData(true)">
        <span class="d-none d-md-block">Refresh Data</span>
        <nb-icon icon="refresh-outline" class="no-margin-sm"></nb-icon>
      </button>
    </nb-action>
    <nb-action class="d-none d-md-block" *ngIf="(!userPictureOnly) && userName">
      {{userName}}
    </nb-action>
    {{userPictureOnly}}
    <nb-action class="user-action">
      <nb-user shape="semi-round" [nbContextMenu]="userMenu" [name]="user?.firstName" [onlyPicture]="userPictureOnly">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>