/*!
 * Copyright (c) Akveo 2019. All Rights Reserved.
 * Licensed under the Single Application / Multi Application License.
 * See LICENSE_SINGLE_APP / LICENSE_MULTI_APP in the 'docs' folder for license information on type of purchased license.
 */

@import "~@nebular/theme/styles/global/breakpoints";

.footer {
  display: flex;
  align-items: center;

  a {
    font-size: 1.25rem;
    padding: 0.4rem;
    color: nb-theme(text-hint-color);
    transition: color ease-out 0.1s;

    &:first-child {
      font-size: inherit;
      border-right: 1px solid #ddd;
    }

    &:hover {
      color: nb-theme(text-basic-color);
    }
  }

  .socials {
    margin-top: -4px;

    a {
      color: #8f9bb3;
    }
  }
}
