<div>
    <nb-card>
        <nb-card-header style="display: flex; align-items: baseline;" class="px-3">
            Metadata and Components
        </nb-card-header>
        <nb-card-body class="p-0 m-0 row overflow-hidden" style="display:flex;">
            <ngx-components-view [isPackage]=false class="w-100"></ngx-components-view>
        </nb-card-body>
    </nb-card>
</div>