/* #region Custom Scrollbar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px #f7f9fc;
  border-radius: 5px !important;
  background-color: #f7f9fc;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f7f9fc;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px !important;
  -webkit-box-shadow: inset 0 0 2px #e4e9f2;
  background-color: #e4e9f2;
}
/* #endregion Custom Scrollbar */

@media screen and (max-width: 576px) {
  .no-margin-sm {
    margin-left: 0 !important;
  }
  .header {
    display: block !important;
    justify-content: center !important;
    padding: 0.75rem 0.5rem 0 0.75rem !important;
  }
  .header-content {
    margin-bottom: 0.25rem !important;
  }
}

.cdk-overlay-pane {
  width: 80%;
}

nb-dialog-container {
  width: 100%;
}

td,
th {
  vertical-align: middle;
}

.header {
  display: flex;
  justify-content: space-between;
  // align-items: baseline;
  flex-wrap: wrap;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
