<nb-tabset (changeTab)="onChangeTab($event)">
    <nb-tab tabTitle="Package List" tabIcon="list-outline" class="m-0 p-0" [active]="isPackageListActive" responsive>
        <nb-card class="mt-3">
            <nb-card-header style="align-items:baseline;display: flex; justify-content: space-between;" class="px-3">
                <label class="mb-0">Package List</label>
                <ngx-export [fileName]="'Package List'" [data]="packageList" [exportColumns]="exportColumns"
                    [btnSize]="'small'" class="ml-auto"></ngx-export>
            </nb-card-header>
            <nb-card-body class="px-3">
                <div class="w-100"
                    style="height: 500px; overflow: auto; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;">
                    <table class="table table-bordered mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Created Date</th>
                                <th scope="col" class="d-none d-sm-table-cell">Version</th>
                                <th scope="col" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of packageList">
                                <td>{{item.Title}}</td>
                                <td>{{item.CreatedDate | date}}</td>
                                <td class="d-none d-sm-table-cell">{{item.VersionNumber}}</td>
                                <td class="text-center">
                                    <button nbButton status="success" class="m-1" size="small"
                                        (click)="deploy(item.Id)">
                                        <span class="d-none d-sm-block">Deploy</span>
                                        <nb-icon icon="cloud-upload-outline" class="no-margin-sm"></nb-icon>
                                    </button>
                                </td>
                            </tr>
                            <tr *ngIf="packageList && packageList.length==0" class="text-center">
                                <td colspan="4">
                                    No Packages Exist
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </nb-card-body>
        </nb-card>
    </nb-tab>
    <nb-tab tabTitle="Create Package" tabIcon="folder-add-outline" class="m-0 p-0" [active]="!isPackageListActive" responsive>
        <nb-card class="mt-3">
            <nb-card-header class="header px-3">
                <span class="header-content">Metadata and Components</span>
                <div class="header-content">
                    <nb-form-field class="mx-3 my-1">
                        <input type="text" nbInput [(ngModel)]="packageName" placeholder="Enter Package Name">
                    </nb-form-field>
                    <button nbButton status="primary" (click)="validateAndCreatePackage()"
                        class="mx-2 my-1"><span>Create</span>
                        <nb-icon icon="folder-add-outline"></nb-icon>
                    </button>
                    <button nbButton status="basic" (click)="clear();" class="mx-2 my-1"><span>Clear</span>
                        <nb-icon icon="close-outline"></nb-icon>
                    </button>
                </div>
            </nb-card-header>
            <nb-card-body class="p-0 m-0 row" style="display:flex; background-color: #fff; overflow:hidden;">
                <ngx-components-view [isPackage]=true class="w-100"></ngx-components-view>
            </nb-card-body>
        </nb-card>
    </nb-tab>
</nb-tabset>