<nb-card>
    <nb-card-header style="display: flex; align-items: baseline;" class="px-3">
        Metadata and Components
    </nb-card-header>
    <nb-card-body>
        <div style="display:flex; justify-content: space-around; flex-wrap: wrap;">
            <nb-select placeholder="Select Package" [(selected)]="selectedPackage" class="w-100 my-1">
                <nb-option value="{{item.Id}}" *ngFor="let item of packageList">{{ item.Title }}
                </nb-option>
            </nb-select>
            <nb-select placeholder="Select Destination Org" [(selected)]="destConn" (selectedChange)="changeDestOrg()"
                class="w-100 my-1">
                <nb-option value="{{item._id}}" *ngFor="let item of connList">{{ item.name }}
                    <span class="badge badge-primary ml-auto"
                        [ngClass]="{'badge-secondary': item.orgType=='sandbox', 'badge-warning': item.orgType=='qa', 'badge-danger': item.orgType=='prod'}">{{ item.orgType }}</span>
                </nb-option>
            </nb-select>
            <button nbButton status="basic" (click)="validate(true)" class="my-1" [size]="'small'"><span>Validate</span>
                <nb-icon icon="checkmark-circle-outline"></nb-icon>
            </button>
            <button nbButton status="success" (click)="validate(false)" class="my-1" [size]="'small'"><span>Deploy</span>
                <nb-icon icon="cloud-upload-outline"></nb-icon>
            </button>
        </div>
        <div class="w-100 mt-5 mb-3 text-center">Cannot find the org?
            <a nbButton class="mx-2" size="small" (click)="addOrg()">Add Org</a>
        </div>
    </nb-card-body>
</nb-card>