
/* #region Custom Scrollbar */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px #f7f9fc;
    border-radius: 5px !important;
    background-color: #f7f9fc;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #f7f9fc;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px !important;
    -webkit-box-shadow: inset 0 0 2px #e4e9f2;
    background-color: #e4e9f2;
  }
  /* #endregion Custom Scrollbar */