<nb-card style="height: 500px;">
    <nb-card-header class="header">
        <span class="header-content">{{chartTitle}}</span>
        <div class="header-content">
            <span class="d-none d-lg-block mr-2" style="font-size: 12px;">Chart Type:</span>
            <nb-select placeholder="Chart Type" [size]="'small'" [(selected)]="selectedChartType" class="mr-2"
                style="width: 120px;">
                <nb-option value="{{item}}" *ngFor="let item of chartTypeList">{{ item }}
                </nb-option>
            </nb-select>
            <span class="d-none d-lg-block mr-2" style="font-size: 12px;">Group By:</span>
            <nb-select placeholder="Group By" [size]="'small'" [(selected)]="selectedGroup" style="width: 120px;"
                (selectedChange)="createChart()">
                <nb-option value="{{item}}" *ngFor="let item of groupByList">{{ item }}
                </nb-option>
            </nb-select>
            <ngx-export [fileName]="chartTitle" [data]="data" [exportColumns]="exportColumns" [btnSize]="'small'"
                [iconOnly]="true" class="ml-3"></ngx-export>
        </div>
    </nb-card-header>
    <nb-card-body style="display:flex;" class="px-1 py-2">
        <div *ngIf="chartObj.data.length>0" style="width: 100%;">
            <ngx-charts-bar-vertical [scheme]="chartObj.colorScheme" [results]="chartObj.data"
                [xAxis]="chartObj.showXAxis" [yAxis]="chartObj.showYAxis" [legend]="chartObj.showLegend"
                [xAxisLabel]="chartObj.xAxisLabel" [yAxisLabel]="chartObj.yAxisLabel"
                [showDataLabel]="chartObj.showDataLabel" *ngIf="selectedChartType == 'Bar'">
            </ngx-charts-bar-vertical>
            <ngx-charts-pie-chart [scheme]="chartObj.colorScheme" [results]="chartObj.data"
                [legend]="chartObj.showLegend" [labels]="chartObj.showLabels" *ngIf="selectedChartType == 'Pie'">
            </ngx-charts-pie-chart>
            <ngx-charts-pie-chart [scheme]="chartObj.colorScheme" [results]="chartObj.data"
                [legend]="chartObj.showLegend" [labels]="chartObj.showLabels" [doughnut]="'doughnut'"
                *ngIf="selectedChartType == 'Doughnut'">
            </ngx-charts-pie-chart>
            <ngx-charts-bar-horizontal [scheme]="chartObj.colorScheme" [results]="chartObj.data"
                [xAxis]="chartObj.showXAxis" [yAxis]="chartObj.showYAxis" [legend]="chartObj.showLegend"
                [xAxisLabel]="chartObj.xAxisLabel" [yAxisLabel]="chartObj.yAxisLabel"
                [showDataLabel]="chartObj.showDataLabel" *ngIf="selectedChartType == 'Column'">
            </ngx-charts-bar-horizontal>
        </div>
    </nb-card-body>
</nb-card>