<div *ngIf="isLoading | async">
    <div class="wrapper">
        <div class="overlay">
            <div class="loader"></div>
            <!-- <div class="loader-message">{{message | async}}</div> -->
        </div>
    </div>
</div>