<nb-card>
  <nb-card-body>
    <h5 id="title" class="title p-4">Login with Salesforce</h5>
    <div class="sub-title">
      <nb-select placeholder="Select Environment" hero status="primary" [(selected)]="selectedEnvironement">
        <nb-option value="prod">Production</nb-option>
        <nb-option value="sandbox">Sandbox</nb-option>
      </nb-select>
      <br>
      <div class="form-control-group accept-group justify-content-center">
        <nb-checkbox (checkedChange)="toggleAcceptTermsCondition($event)" name="acceptTermCondition">
          I have read and accept the
          <a (click)="open(dialog)" style="text-decoration: underline;color:#f68c5a;cursor: pointer;">terms &
            conditions</a>
        </nb-checkbox>
      </div>

      <button nbButton status="primary" size="large" (click)="login()"
        [disabled]="!acceptTermCondition || !selectedEnvironement">
        Log In with Salesforce
      </button>
    </div>

  </nb-card-body>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Terms and Conditions</nb-card-header>
    <nb-card-body>
      <div class="container">
        <div class="row in-bright-background">
          <div class="row in-bright-background">
            <div class="col-sm-12" style="height:400px;">
              <div class="post-content">
                <div class="fusion-fullwidth fullwidth-box fusion-builder-row-1 nonhundred-percent-fullwidth non-hundred-percent-height-scrolling" style="background-color: rgba(255,255,255,0);background-position: center center;background-repeat: no-repeat;padding-bottom:20px;padding-top:20px;">
                  <div class="fusion-builder-row fusion-row ">
                    <div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-builder-column-0 fusion-one-full fusion-column-first fusion-column-last 1_1" style="margin-top:0px;margin-bottom:20px;">
                      <div class="fusion-column-wrapper" style="padding: 0px; background-position: left top; background-repeat: no-repeat; background-size: cover; height: auto;" data-bg-url="">
                        <style type="text/css">@media only screen and (max-width:800px) {.fusion-title.fusion-title-1{margin-top:0px!important;margin-bottom:0px!important;}}</style>
                        <div class="fusion-text">
                          <p style="text-align: center;">July 2020</p>
                </div><div class="fusion-text"><p><strong>TERMS OF USE</strong><br>
                CommerceCX, Inc. (“CommerceCX” or “we”) provides its content on this Website (the “Site”) subject to the following Terms of Use (the “Terms”). By accessing and using this Site, you agree to these Terms. We reserve the right to change, modify, add, or delete portions of the Terms at any time without prior notice to you. Please re-review the Terms periodically for changes. Your continued use of the Site will mean that you accept such changes or deletions. If you have any questions regarding these Terms, you may contact us at: CommerceCX Inc. 150 Cornerstone Dr #104, Cary, NC 27519.<br>
                For an explanation of CommerceCX’s policies related to the collection and use of our users’ information, please read our Privacy Policy. CommerceCX reserves the right, and you authorize us, to use and assign all information regarding Site use by you and all information provided by you in any manner consistent with our Privacy Policy.</p>
                <p><strong>OWNERSHIP</strong><br>
                All content and functionality on the Site, including text, graphics, logos, icons, trademarks, trade names, and images and the selection and arrangement thereof, is the exclusive property of CommerceCX and is protected by U.S. and international intellectual property laws. Any copying, redistribution, reverse engineering, use, or publication by you is prohibited, except as expressly permitted by these Terms. All rights not expressly granted are reserved.</p>
                <p><strong>USE OF SITE CONTENT</strong><br>
                This Site and all the information it contains or may contain, including but not limited to articles, memoranda, bulletins, reports, press releases, opinions, text, directories, guides, images, trademarks, trade names, and logos (the “Content”), is the property of CommerceCX and is protected from unauthorized copying and dissemination by domestic and international law. Certain trademarks and logos displayed on the Site are owned by third parties. Except as we have described in these Terms, nothing contained on this Site should be construed as a license or right to use this Site or any Content displayed on this Site, through the use of framing or otherwise, without the prior written permission of CommerceCX or such third party.<br>
                We do not grant any license or other permission for links or other use of the Site or its Content if such use or link: (a) suggests that CommerceCX promotes or endorses any third party’s causes, ideas, political campaigns, websites, products or services, (b) copies, displays, disseminates or otherwise uses the Content without CommerceCX’s express written consent, or (c) uses the Content for commercial purposes. We reserve the right to withdraw permission for any link at any time.</p>
                <p>Subject to your full compliance with these terms, CommerceCX authorizes you to view the Content, make a single copy of it, and print that copy, but only for your own lawful, personal, noncommercial use, provided that you maintain all copyright, trademark and other intellectual property notices contained in such Content, and provided that the Content, or any part thereof, is not modified.</p>
                <p><strong>PROHIBITED CONDUCT</strong><br>
                You may use the Site for lawful purposes only. You may not upload to, or distribute or otherwise publish through the Site, any Content that is any of the following:<br>
                is libelous, defamatory, obscene, pornographic, abusive, harassing or threatening, or otherwise objectionable to CommerceCX in our sole discretion<br>
                contains computer viruses, worms, moles or other contaminating or destructive elements<br>
                violates the rights of others, such as Content that infringes any copyright, trademark, patent, trade secret or violates any right of privacy or publicity<br>
                contains any false or misleading statement<br>
                contains advertising<br>
                otherwise violates any applicable criminal or civil law<br>
                You may not use the Site for any commercial purpose and may not distribute over the Site any solicitation of funds, goods, and services. In addition, you may not use the Site to solicit subscribers to join other online information services that are competitive with the Site.</p>
                <p><strong>INDEMNIFICATION</strong><br>
                You agree to indemnify, defend and hold CommerceCX and our partners, employees, and affiliates, harmless from any liability, loss, claim and expense, including reasonable attorney’s fees, related to your violation of these Terms or use of the Site or the Content.</p>
                <p><strong>NOTICES OF INFRINGEMENT</strong><br>
                CommerceCX prohibits the posting of any information that infringes or violates the trademark, trade secret, patent, copyright rights and/or other intellectual property rights of any person or entity. If you believe that your intellectual property right (or such a right that you are responsible for enforcing) is infringed by any content on the Site, please write to CommerceCX at the address shown below, giving a written statement that contains: (a) identification of the copyrighted work and/or intellectual property right claimed to have been infringed; (b) identification of the allegedly infringing material on the Site that is requested to be removed; (c) your name, address, and daytime telephone number, and an e-mail address if available; (d) a statement that you have a good faith belief that the use of the copyrighted work and/or exercise of the intellectual property right is not authorized by the owner, its agent, or the law; (e) a statement that the information in the notification is accurate, and, under penalty of perjury, that the signatory is authorized to act on behalf of the owner of the right that is allegedly infringed; and (f) the signature of the intellectual property right owner or someone authorized on the owner’s behalf to assert infringement of the right. CommerceCX’s contact for submission of notices under this is: CommerceCX Inc. 150 Cornerstone Dr #104, Cary, NC 27519.</p>
                <p><strong>DISCLAIMER</strong><br>
                YOUR USE OF THE SITE IS AT YOUR OWN RISK. THE CONTENT AND FUNCTIONALITY ON THE SITE IS PROVIDED FOR EDUCATIONAL PURPOSES ONLY WITH THE UNDERSTANDING THAT COMMERCECX IS NOT HEREIN ENGAGED IN RENDERING PROFESSIONAL ADVICE AND SERVICES TO YOU. ALL CONTENT AND FUNCTIONALITY ON THE SITE IS PROVIDED “AS IS” AND ON AN “AS AVAILABLE” BASIS WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, TITLE, NON-INFRINGEMENT, AND FITNESS FOR A PARTICULAR PURPOSE. COMMERCECX DOES NOT WARRANT THAT ANY FUNCTION OR CONTENT CONTAINED ON THIS SITE OR ANY SERVICE WILL BE UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THIS SITE OR THE SERVER THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. . COMMERCECX SHALL HAVE NO LIABILITY OR RESPONSIBILITY FOR ANY INFORMATION PUBLISHED ON LINKED WEBSITES OR PROVIDED BY THIRD PARTIES. NEITHER COMMERCECX NOR ITS THIRD-PARTY CONTENT PROVIDERS SHALL BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, OR PUNITIVE DAMAGES OR FOR LOST REVENUES OR PROFITS, WHETHER OR NOT ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR LOSSES AND REGARDLESS OF THE THEORY OF LIABILITY ARISING OUT OF OR IN ANY WAY RELATING TO THE SITE, YOUR USE OF THE SITE, OR THE SITE CONTENT. YOUR SOLE REMEDY FOR DISSATISFACTION WITH THE SITE AND/OR SITE CONTENT IS TO CEASE ALL USE OF THE SITE.</p>
                <p>You may have additional rights under certain laws (including consumer laws) which do not allow the exclusion of implied warranties, or the exclusion or limitation of certain damages. If these laws apply to you, the exclusions or limitations in these Terms that directly conflict with such laws may not apply to you.</p>
                <p><strong>THIRD-PARTY WEB SITES</strong><br>
                We may provide links to third-party websites over which CommerceCX has no control. CommerceCX has no responsibility for these third-party websites, which are governed by the terms, conditions, and privacy policies, if any, of the applicable third-party content providers. You should review the terms, conditions, and privacy policies of each website you visit.</p>
                <p><strong>INTENDED AUDIENCE</strong><br>
                This Site is intended for adults only. YOU MUST BE AT LEAST 13 YEARS OF AGE TO ACCESS AND USE THIS SITE. IF YOU ARE 13 YEARS OR YOUNGER, DO NOT USE THIS SITE FOR ANY PURPOSE.</p>
                <p><strong>APPLICABLE LAW; VENUE.</strong><br>
                You agree that the laws of the Commonwealth of North Carolina, without regard to conflicts of law’s provisions will govern these Terms and any dispute that may arise between you and CommerceCX or its affiliates. You agree to personal and exclusive jurisdiction by and venue in the state and federal courts of Wake County, North Carolina.</p>
                <p>YOU AGREE THAT REGARDLESS OF ANY STATUTE OR LAW TO THE CONTRARY, ANY CLAIM OR CAUSE OF ACTION ARISING OUT OF OR RELATED TO THE SITE, ANY SERVICE PROVIDED BY THE SITE, OR THESE TERMS MUST BE FILED WITHIN ONE (1) YEAR AFTER SUCH CLAIM OR CAUSE OF ACTION AROSE OR BE FOREVER BARRED.</p>
                </div><div class="fusion-clearfix"></div></div></div></div></div><style type="text/css">.fusion-fullwidth.fusion-builder-row-1 a:not(.fusion-button):not(.fusion-builder-module-control):not(.fusion-social-network-icon):not(.fb-icon-element):not(.fusion-countdown-link):not(.fusion-rollover-link):not(.fusion-rollover-gallery):not(.fusion-button-bar):not(.add_to_cart_button):not(.show_details_button):not(.product_type_external):not(.fusion-quick-view):not(.fusion-rollover-title-link):not(.fusion-breadcrumb-link) , .fusion-fullwidth.fusion-builder-row-1 a:not(.fusion-button):not(.fusion-builder-module-control):not(.fusion-social-network-icon):not(.fb-icon-element):not(.fusion-countdown-link):not(.fusion-rollover-link):not(.fusion-rollover-gallery):not(.fusion-button-bar):not(.add_to_cart_button):not(.show_details_button):not(.product_type_external):not(.fusion-quick-view):not(.fusion-rollover-title-link):not(.fusion-breadcrumb-link):before, .fusion-fullwidth.fusion-builder-row-1 a:not(.fusion-button):not(.fusion-builder-module-control):not(.fusion-social-network-icon):not(.fb-icon-element):not(.fusion-countdown-link):not(.fusion-rollover-link):not(.fusion-rollover-gallery):not(.fusion-button-bar):not(.add_to_cart_button):not(.show_details_button):not(.product_type_external):not(.fusion-quick-view):not(.fusion-rollover-title-link):not(.fusion-breadcrumb-link):after {color: #e55325;}.fusion-fullwidth.fusion-builder-row-1 a:not(.fusion-button):not(.fusion-builder-module-control):not(.fusion-social-network-icon):not(.fb-icon-element):not(.fusion-countdown-link):not(.fusion-rollover-link):not(.fusion-rollover-gallery):not(.fusion-button-bar):not(.add_to_cart_button):not(.show_details_button):not(.product_type_external):not(.fusion-quick-view):not(.fusion-rollover-title-link):not(.fusion-breadcrumb-link):hover, .fusion-fullwidth.fusion-builder-row-1 a:not(.fusion-button):not(.fusion-builder-module-control):not(.fusion-social-network-icon):not(.fb-icon-element):not(.fusion-countdown-link):not(.fusion-rollover-link):not(.fusion-rollover-gallery):not(.fusion-button-bar):not(.add_to_cart_button):not(.show_details_button):not(.product_type_external):not(.fusion-quick-view):not(.fusion-rollover-title-link):not(.fusion-breadcrumb-link):hover:before, .fusion-fullwidth.fusion-builder-row-1 a:not(.fusion-button):not(.fusion-builder-module-control):not(.fusion-social-network-icon):not(.fb-icon-element):not(.fusion-countdown-link):not(.fusion-rollover-link):not(.fusion-rollover-gallery):not(.fusion-button-bar):not(.add_to_cart_button):not(.show_details_button):not(.product_type_external):not(.fusion-quick-view):not(.fusion-rollover-title-link):not(.fusion-breadcrumb-link):hover:after {color: #e55325;}.fusion-fullwidth.fusion-builder-row-1 .pagination a.inactive:hover, .fusion-fullwidth.fusion-builder-row-1 .fusion-filters .fusion-filter.fusion-active a {border-color: #e55325;}.fusion-fullwidth.fusion-builder-row-1 .pagination .current {border-color: #e55325; background-color: #e55325;}.fusion-fullwidth.fusion-builder-row-1 .fusion-filters .fusion-filter.fusion-active a, .fusion-fullwidth.fusion-builder-row-1 .fusion-date-and-formats .fusion-format-box, .fusion-fullwidth.fusion-builder-row-1 .fusion-popover, .fusion-fullwidth.fusion-builder-row-1 .tooltip-shortcode {color: #e55325;}#main .fusion-fullwidth.fusion-builder-row-1 .post .blog-shortcode-post-title a:hover {color: #e55325;}</style>
                </div>
            </div>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Close</button>
    </nb-card-footer>
  </nb-card>
</ng-template>