<div style="display:flex;">
    <nb-card style="flex:1 1 auto;">
        <nb-card-header class="header px-3">
            <label class="mb-0 header-content">Existing Connections
                <span style="font-size: 11px;padding: 4px 10px;background-color: #edf1f7;border-radius: 5px;"
                    class="ml-2" nbTooltip="Connections from the Salesforce org which user logged into Skebot"
                    nbTooltipStatus="primary">LoggedIn Org</span>
            </label>
            <div class="header-content">
                <button nbButton status="success" (click)="addConn();$event.stopPropagation();" [size]="'small'"
                    class="mx-1">
                    <span class="d-none d-sm-block">Add Connection</span>
                    <nb-icon icon="plus-outline" class="no-margin-sm"></nb-icon>
                </button>
                <ngx-export [fileName]="'Connection List'" [data]="connList" [exportColumns]="exportColumns"
                    class="mx-1" [btnSize]="'small'" class="align-self-center"></ngx-export>
            </div>
        </nb-card-header>
        <nb-card-body class="px-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Org Type</th>
                        <th scope="col" class="d-none d-sm-table-cell">Username</th>
                        <th scope="col" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of connList;">
                        <ng-container *ngIf="item.name!='LoggedIn Org'">
                            <td>{{item.name}}</td>
                            <td>{{item.orgType}}</td>
                            <td style="overflow-wrap:anywhere;" class="d-none d-sm-table-cell">{{item.username}}</td>
                            <td class="text-center">
                                <button nbButton status="danger" class="ml-auto" size="small"
                                    (click)="deleteConn(item._id);$event.stopPropagation();">
                                    <span class="d-none d-sm-block">Delete</span>
                                    <nb-icon icon="trash-2-outline" class="no-margin-sm"></nb-icon>
                                </button>
                            </td>
                        </ng-container>
                    </tr>
                    <tr *ngIf="connList.length==1" class="text-center">
                        <td colspan="4">
                            No Connections Exist
                        </td>
                    </tr>
                </tbody>
            </table>
        </nb-card-body>
    </nb-card>
</div>