nb-card-body li {
  border-bottom: 1px solid #ddd;
  list-style: none;
}

nb-card-body li:hover {
  background-color: #ddd;
}

nb-list-item {
  font-size: 0.85rem;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 576px) {
  .no-margin-sm {
    margin-left: 0 !important;
  }

  .header-content {
    margin-bottom: 0.25rem !important;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  // align-items: baseline;
  flex-wrap: wrap;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

td {
  vertical-align: middle;
}
