<nb-card style="width:40%;margin:auto;">
    <nb-card-body>
        <h5 id="title" class="title">Contact Us</h5>
        <br />
        <div [formGroup]="contactUsForm">
            <div style="display: flex; justify-content: space-between; align-items: baseline;">
                <div class="form-control-group" style="width: 48.5%">
                    <label for="input-name">Full Name *</label>
                    <input nbInput fullWidth fieldSize="large" id="input-name" formControlName="fullName"
                        [status]="fullName.dirty ? (fullName.invalid  ? 'danger' : 'success') : ''"
                        [attr.aria-invalid]="fullName.invalid && fullName.touched ? true : null"
                        placeholder="Full Name">
                    <ngx-validation-message label="Full Name" [maxLength]="maxLength"
                        [showMaxLength]="fullName?.hasError('maxlength') && fullName.touched"
                        [showRequired]="fullName?.errors?.required && fullName.touched">
                    </ngx-validation-message>
                </div>
                <div class="form-control-group" style="width: 48.5%">
                    <label for="input-email">Email *</label>
                    <input nbInput fullWidth fieldSize="large" id="input-email" formControlName="email"
                        [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
                        [attr.aria-invalid]="email.invalid  && email.touched ? true : null" placeholder="Email">
                    <ngx-validation-message label="Email" [showPattern]="email?.hasError('pattern') && email.touched"
                        [showRequired]="email?.errors?.required && email.touched">
                    </ngx-validation-message>
                </div>
            </div>
            <div class="form-control-group pt-3">
                <label for="input-subject">Subject *</label>
                <input nbInput fullWidth fieldSize="large" id="input-subject" formControlName="subject"
                    [status]="subject.dirty ? (subject.invalid  ? 'danger' : 'success') : ''"
                    [attr.aria-invalid]="subject.invalid  && subject.touched ? true : null" placeholder="Subject">
                <ngx-validation-message label="Subject" [maxLength]="maxLength"
                    [showMaxLength]="subject?.hasError('maxlength') && subject.touched"
                    [showRequired]="subject?.errors?.required && subject.touched">
                </ngx-validation-message>
            </div>
            <div class="form-control-group pt-3">
                <label for="input-content">Message *
                    <span style="position: absolute; right: 22px;">{{contentMaxLength}} characters max.
                        {{content.value?content.value.length:0}}/{{contentMaxLength}}</span>
                </label>
                <textarea nbInput fullWidth fieldSize="large" id="textarea-content" formControlName="content"
                    [status]="content.dirty ? (content.invalid  ? 'danger' : 'success') : ''"
                    [attr.aria-invalid]="content.invalid && content.touched ? true : null" placeholder="Message"
                    style="height: 150px;"></textarea>
                <ngx-validation-message label="Message" [maxLength]="contentMaxLength"
                    [showMaxLength]="content?.hasError('maxlength') && content.touched"
                    [showRequired]="content?.errors?.required && content.touched">
                </ngx-validation-message>
            </div>
            <br />
            <div style="display: flex; width: 100%; justify-content: space-between;">
                <button [routerLink]="'pages/orgdashboard'" nbButton status="basic">
                    <nb-icon icon="arrow-back-outline"></nb-icon>
                    Home
                </button>
                <button nbButton status="primary" size="large" [disabled]="!contactUsForm.valid" (click)="submit()">
                    Submit
                </button>
            </div>

            <div *ngIf="submitStatus" class="pt-4 bold">
                <p *ngIf="submitStatus" class="text-success">Your message has been sent successfully. We will get back
                    to you
                    within 24 hours.</p>
                <p *ngIf="!submitStatus" class="text-danger">Failed to send message to Skebot support. We will provide a
                    solution at the
                    earliest.</p>
            </div>
        </div>
    </nb-card-body>
</nb-card>